@import "_normalize";
@import "_fonts";
@import "_variables";

@import "./components/button";
@import "./components/header";
@import "./components/first-screen";
@import "./components/contacts-popup";

body {
   background-color: $background-grey;
   font-family: "Inter";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   color: $text-dark-gray;
}

.wrapper {
   width: 100%;
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: $contentWidth + px;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   @media (max-width: $media1 + px) {
      max-width: 970px;
   }
   @media (max-width: $media2 + px) {
      max-width: 750px;
   }
   @media (max-width: $media3 + px) {
      max-width: none;
      padding: 0 20px;
   }
}
