.button {
   cursor: pointer;
   border: 0;
   border-radius: 10px;
   padding: 15px 25px;

   display: flex;
   align-items: center;
   justify-content: center;

   background: $main-purple;
   color: $main-white;
   box-shadow: 0px 20px 35px 0px #dfe8f4;

   transition: background-color 1.4s;

   &:hover {
      background-color: $main-green;
   }

   &_blue {
      background: $main-blue;
      font-weight: 600;
      box-shadow: none;
   }

   &_grey {
      background: transparent;
      box-shadow: none;
      border: 2px solid $text-dark-gray;
      color: $text-dark-gray;

      &:hover {
         color: $main-purple;
         background: $background-purple;
         border: 2px solid $main-purple;
      }
   }
}

.button-with-icon {
   width: 54px;
   height: 54px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 8px;
   border: 1px solid $text-light-gray;
   background-color: transparent;
   cursor: pointer;
   transition: background-color 1.4s;

   svg {
      fill: $text-dark-gray;
      width: 25px;
      height: 25px;
   }

   &:hover {
      background: $background-purple;

      svg {
         fill: $main-purple;
      }
   }

   &_without-border {
      border: 0;
      &:hover {
         background: transparent;
      }
   }
}
