.popup {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 5;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.7);
   align-items: center;
   justify-content: center;

   &__content {
      width: 557px;
      border-radius: 11px;
      background: $main-white;
      margin: 30px;
      padding: 37px;

      @media (max-width: 610px) {
         padding: 17px;
      }
   }

   &_open {
      display: flex;
   }
}

.contacts {
   font-weight: 600;

   address {
      font-style: normal;
   }

   &__title {
      text-align: center;
      font-size: 1.25em;
      margin-bottom: 1.65rem;
   }

   &__office-block {
      margin-bottom: 2.68rem;
   }

   &__contacts-block {
      margin-bottom: 2.56rem;
   }

   &__working-hours-block {
      margin-bottom: 1.68rem;
   }

   &__black-text {
      color: $text-black;
   }

   &__link {
      color: $main-purple;
      text-decoration-line: underline;
   }

   &__title-with-img {
      display: inline-block;
      padding-left: 25px;
      line-height: 20px;
   }
}

.office-block {
   &__title {
      margin-bottom: 13px;
      background: url("../images/sprite.svg#location-sign") left no-repeat;
   }

   &__address {
      margin-bottom: 7px;
   }
}

.contacts-block {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__list {
      flex: 1 1 60%;
      dt {
         float: left;
         margin: 0 10px 0 0;
         padding: 6px 0;
      }
      dd {
         padding: 6px 0;
      }

      @media (max-width: 610px) {
         margin-bottom: 17px;
      }
   }

   @media (max-width: 610px) {
      flex-direction: column;
      align-items: stretch;
   }
}

.working-hours-block {
   &__title {
      margin-bottom: 13px;
      background: url("../images/sprite.svg#clock") left no-repeat;
   }
}

.social-block {
   &__title {
      margin-bottom: 12px;
   }
   &__list {
      display: flex;
      gap: 18px;
   }
}
